.meal {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 8px;
    border: 2px solid #500c6e;
    border-radius: 4px;
    background-color: rgba(200, 0, 255, 0.21);
    cursor: pointer;
}

.meal-title {
    margin-bottom: 8px;
}

.meal-info {
    display: flex;
    justify-content: space-between;
}

.meal:hover {
    background-color: rgba(0, 255, 113, 0.32);
}

.ingredients {
    font-size: 12px;
    min-width: 200px;
}
